<h1>Welcome to the TamaGift App</h1>
<h2>Send your friends gift cards! </h2>

<%= generate_sign_in_or_out_link %>


<% if user_signed_in? %>
  <%= link_to "Buy a gift card!" %>
<% else %>

<% end %>

